#footer-container {
  height: 180px;
  margin-top: 60px;
  background-color: #B5C1CC;
  text-align: center;

  .social-media {
    padding-top: 40px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
   .copyright {
    padding-top: 20px;
    color: #D72500;
    font-weight: 300;

    span {
      color: white;
    }
  }

}
