#footer-container {
  height: 180px;
  margin-top: 60px;
  background-color: #9099A2;
  text-align: center;

  .social-media {
    padding-top: 40px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
   .copyright {
    padding-top: 20px;
    color: white;
  }

}
