#footer-container {
  height: 180px;
  margin-top: 60px;
  background-color: whitesmoke;
  text-align: center;

  .copyright {
    padding-top: 40px;
  }

  .social-media {
    padding-top: 15px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }

}
