#header-container, #nav {
  display: flex;
  flex-direction: column;
  background-color: #9099A2;
}

#header-container {
  text-align: center;
  color: white;
}

@media (min-width: 500px){
  #header-container {
    height: 140px;
  }
}

@media (min-width: 1024px){
  #header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

