#header-container, #nav {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

#header-container {
  text-align: center;
  height: 30%;

  #nav {

    div {
      margin-right: 20px;
    }

    div a {
      text-decoration: none;
      color: black;
    }

    .user a {
      color: salmon;
    }
  }
}

@media (min-width: 500px){

  #header-container {
    height: 140px;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


}
@media (min-width: 1024px){
  #header-container {
    flex-direction: row;
    justify-content: space-between;

    #logo {
      padding-top: 30px;
      margin-left: 100px;
    }

    #nav {
      padding-top: 35px;
      margin-right: 35px;
    }
  }
}

