.id {

  .id__img {
    height: 50%;
    width: 60%;
    display: block;
    margin: 50px auto;
  }

  .id__horizontal {
    border-top: 1px solid #8c8b8b;
    width: 60%;
    margin-bottom: 30px;
  }

  .id__row {
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

    .id__primary {
      border-bottom: 1px solid #8c8b8b;
      padding-bottom: 20px;
      font-size: 15px;

      .user {
        margin-top: 35px;

        .user__link {
          color: salmon;
          font-size: 15px;
        }

        input#submit{
          background:none;
          border:none;
          font-size: 15px;
          margin-left: -7px;
          margin-top: 7px;
          color: salmon;
          cursor: pointer;
        }
      }
    }
    .id__secondary {
      margin-top: 20px;
    }
  }
}

.id__web-address:hover,
.id__web-address:focus,
.id__link:hover,
.id__link:focus, {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border-color: var(--hover);
  color: #8CBDEE;
}

.id__web-address,
.id__link {
  color: #63696F;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}





@media (min-width: 1024px){
  .id {

    .id__img {
      width: 1021px;
    }

    .id__horizontal {
      border-top: 1px solid #8c8b8b;
      width: 1021px;
      margin-bottom: 30px;
    }

    .id__row {
      display: flex;
      flex-direction: row;
      width: 960px;


      .id__primary {
        flex: 1;
        border-right: 1px solid #8c8b8b;
        border-bottom: 0px;
        height: 200px;
        padding-right: 20px;
        font-size: 25px;
      }

      .id__secondary {
        flex: 2;
        padding-left: 20px;
        margin-top: 20px;
      }
    }
  }
}
