.id {

  .id__img {
    height: 50%;
    width: 60%;
    display: block;
    margin: 50px auto;
  }

  .id__horizontal {
    border-top: 1px solid #8c8b8b;
    width: 60%;
    margin-bottom: 30px;
  }

  .id__row {
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: auto;

    .id__primary {
      border-bottom: 1px solid #8c8b8b;
      padding-bottom: 20px;
      font-size: 15px;

      .user {
        margin-top: 35px;

        .user__link {
          color: salmon;
          font-size: 15px;
        }

        input#submit{
          background:none;
          border:none;
          font-size: 15px;
          margin-left: -7px;
          margin-top: 7px;
          color: salmon;
          cursor: pointer;
        }
      }
    }
    .id__secondary {
      margin-top: 20px;
    }
  }
}



@media (min-width: 1024px){
  .id {

    .id__img {
      height: 700px;
      width: 1020px;
    }

    .id__horizontal {
      border-top: 1px solid #8c8b8b;
      width: 1020px;
      margin-bottom: 30px;
    }

    .id__row {
      display: flex;
      flex-direction: row;
      width: 960px;


      .id__primary {
        flex: 1;
        border-right: 1px solid #8c8b8b;
        border-bottom: 0px;
        height: 200px;
        padding-right: 20px;
        padding-top: 25px;
      }

      .id__secondary {
        flex: 2;
        padding-left: 20px;
        margin-top: 0;
      }
    }
  }
}
