<h1>Register User</h1>

<form form="form" method="POST" enctype="x-www-form-urlencoded">

  <input type="text" name="first_name" placeholder="First Name"></br>

  <input type="text" name="last_name" placeholder="Last Name"></br>

  <input type="text" name="username" placeholder="Create User Name"></br>

  <input type="text" name="password" placeholder="Create New Password"></br>

  <input type="submit" value="Submit">
</form>

<a href="/portfolio"><button>Back</button></a>