<div id="footer-container">
  <div class="social-media">
    <a href="https://github.com/jhoun" target="_blank"><img src="https://i.imgur.com/yXISqvM.png"></a>
    <a href="https://www.linkedin.com/in/johnathanhoun/" target="_blank"><img src="https://i.imgur.com/w21yxT9.png"></a>
    <a href="https://medium.com/@jhoun" target="_blank"><img src="https://i.imgur.com/ycZTd2d.png"></a>
    <a href="https://twitter.com/jay_houn" target="_blank"><img src="https://i.imgur.com/56I1Uca.png"></a>
  </div>
  <div class="copyright">Site by Jay Houn.</div>
</div>