
<div id="header-container">
  <h1 id="logo">Jay Houn</h1>
  <ul id="nav">
    <button class="nav__item portfolio"><a href="/portfolio" id="{{path}}">Portfolio</a></button>
    <button class="nav__item about"><a href="/about" id="{{path}}">About Jay</a></button>
    <button class="nav__item contact"><a href="/contact" id="{{path}}">Get In Touch</a></button>
    {{#if user.admin}}
    <div class="nav__item nav__item--user"><a href="/portfolio/new">Add Project</a></div>
    <div class="nav__item nav__item--user"><a href="/logout">Logout</a></div>
    {{/if}}
  </ul>
</div>