
<div id="header-container">
  <h1 id="logo">Jay Houn</h1>
  <ul id="nav">
    <div><a href="/portfolio">Portfolio</a></div>
    <div><a href="/about"> About Jay</a></div>
    <div><a href="/contact">Get In Touch</a></div>
    {{#if user.admin}}
    <div class="user"><a href="/portfolio/new">Add Project</a></div>
    <div class="user"><a href="/logout">Logout</a></div>
    {{/if}}
  </ul>
</div>