@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden; }

html {
  height: 100%; }

body {
  background: transparent;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #ebecec;
  height: 2px;
  margin-bottom: 50px; }

#header-container, #nav {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke; }

#header-container {
  text-align: center;
  height: 30%; }

@media (min-width: 500px) {
  #header-container {
    height: 140px; } }

@media (min-width: 1024px) {
  #header-container {
    flex-direction: row;
    justify-content: space-between; } }

#footer-container {
  height: 180px;
  margin-top: 60px;
  background-color: whitesmoke;
  text-align: center; }
  #footer-container .copyright {
    padding-top: 40px; }
  #footer-container .social-media {
    padding-top: 15px; }
    #footer-container .social-media img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px; }

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  flex: 1; }

.about-container {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .about-container .image-container img {
    width: 275px;
    height: 320px;
    margin-bottom: 20px; }
  .about-container .paragraph-container {
    font-size: 15px;
    margin: 0 20px; }

@media (min-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .about-container .image-container img {
      width: 550px;
      height: 620px; }
    .about-container .paragraph-container {
      margin-left: 60px;
      font-size: 20px;
      width: 420px; } }

.page-title {
  text-align: center;
  margin: 50px 0;
  font-size: 25px;
  font-weight: 300; }

#nav .nav__item {
  margin: 4px 0; }

#nav .nav__item a {
  color: black;
  text-decoration: none; }

#nav .nav__item--user a {
  color: #ffa07a; }

@media (min-width: 500px) {
  #nav {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #nav .nav__item {
      margin: 0 15px; } }

@media (min-width: 1024px) {
  #nav {
    padding-top: 40px;
    margin-right: 35px; } }

@media (min-width: 1024px) {
  #logo {
    padding-top: 30px;
    margin-left: 100px; } }

.banner {
  color: #fff;
  background: #3acec2;
  padding: 5em 0;
  margin-bottom: 100px;
  text-align: center; }
  .banner .headline {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px; }

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form .textarea {
    font-size: 30px;
    border: 2px solid black;
    margin: 5px 0;
    width: 300px; }
  .form .textarea::placeholder {
    font-size: 20px; }
  .form input::placeholder {
    font-size: 20px; }
  .form .submit {
    margin-top: 20px;
    width: 100px;
    font-size: 20px; }

.form input {
  font-size: 30px;
  border: 2px solid black;
  margin: 10px 0;
  width: 300px; }

.project__container {
  margin-left: 30px;
  margin-right: 30px; }
  .project__container .project__img {
    height: 300px;
    width: 400px; }
  .project__container .project__title {
    font-size: 2em;
    color: #404040;
    text-align: center; }

ul {
  padding: 0px; }

.project-description-container .title {
  text-align: center; }

.project-description-container img {
  height: 50%;
  width: 60%;
  display: block;
  margin: 50px auto; }

.project-description-container .horizontal {
  border-top: 1px solid #8c8b8b;
  width: 60%;
  margin-bottom: 30px; }

.project-description-container .row {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto; }
  .project-description-container .row .primary {
    border-bottom: 1px solid #8c8b8b;
    padding-bottom: 20px;
    font-size: 15px; }
    .project-description-container .row .primary .user-container {
      margin-top: 70px; }
      .project-description-container .row .primary .user-container a {
        text-decoration: none;
        color: salmon;
        font-size: 25px; }
      .project-description-container .row .primary .user-container input#submit {
        background: none;
        border: none;
        font-size: 25px;
        margin-left: -7px;
        margin-top: 7px;
        color: salmon;
        cursor: pointer; }

@media (min-width: 1024px) {
  .project-description-container img {
    height: 700px;
    width: 960px; }
  .project-description-container .horizontal {
    border-top: 1px solid #8c8b8b;
    width: 960px;
    margin-bottom: 30px; }
  .project-description-container .row {
    display: flex;
    flex-direction: row;
    width: 960px; }
    .project-description-container .row .primary {
      flex: 1;
      border-right: 1px solid #8c8b8b;
      border-bottom: 0px;
      height: 200px;
      padding-right: 20px;
      padding-top: 25px; }
    .project-description-container .row .secondary {
      flex: 2;
      padding-left: 20px; } }

.contact-title {
  text-align: left;
  margin: 50px 0;
  font-size: 25px;
  margin-left: 100px; }

.contact-container {
  flex: 1;
  text-align: center; }
  .contact-container .contact-subtitle {
    margin-top: 30px;
    font-size: 30px; }
  .contact-container .contact-info-container {
    margin-top: 40px; }
    .contact-container .contact-info-container .row {
      margin: 40px 0; }
    .contact-container .contact-info-container .title {
      margin-bottom: 5px;
      color: #D72500; }

.otw img {
  width: 40px;
  height: 40px; }
