@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden; }

html {
  height: 100%; }

body {
  background: #f7f7f7;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

a {
  color: black;
  text-decoration: none; }

ul {
  padding: 0px; }

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #ebecec;
  height: 2px;
  margin-bottom: 50px; }

#header-container, #nav {
  display: flex;
  flex-direction: column;
  background-color: #9099A2; }

#header-container {
  text-align: center;
  color: white; }

@media (min-width: 500px) {
  #header-container {
    height: 140px; } }

@media (min-width: 1024px) {
  #header-container {
    flex-direction: row;
    justify-content: space-between; } }

#footer-container {
  height: 180px;
  margin-top: 60px;
  background-color: #9099A2;
  text-align: center; }
  #footer-container .social-media {
    padding-top: 40px; }
    #footer-container .social-media img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px; }
  #footer-container .copyright {
    padding-top: 20px;
    color: white; }

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  flex: 1; }

.about {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .about .about__image-item {
    width: 275px;
    height: 275px;
    display: block;
    margin: 25px auto; }
  .about .about__paragraph-container {
    font-size: 15px;
    margin: 0 70px; }

@media (min-width: 1024px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .about .about__image {
      margin-left: 50px; }
      .about .about__image .about__image-item {
        width: 450px;
        height: 450px; }
    .about .about__paragraph-container {
      margin-left: 60px;
      font-size: 20px;
      width: 420px; } }

.page-title {
  text-align: center;
  margin: 50px 0;
  font-size: 25px;
  font-weight: 300;
  color: #6d7993; }

.back {
  margin-top: 10px; }

.back a {
  color: #ffa07a; }

.contact {
  flex: 1;
  text-align: center; }
  .contact .contact__subtitle {
    margin-top: 30px;
    font-size: 30px; }
  .contact .contact__container {
    margin-top: 40px; }
    .contact .contact__container .contact__row {
      margin: 40px 0; }
    .contact .contact__container .contact__title {
      margin-bottom: 5px;
      color: #D72500; }

.id .id__img {
  height: 50%;
  width: 60%;
  display: block;
  margin: 50px auto; }

.id .id__horizontal {
  border-top: 1px solid #8c8b8b;
  width: 60%;
  margin-bottom: 30px; }

.id .id__row {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto; }
  .id .id__row .id__primary {
    border-bottom: 1px solid #8c8b8b;
    padding-bottom: 20px;
    font-size: 15px; }
    .id .id__row .id__primary .user {
      margin-top: 35px; }
      .id .id__row .id__primary .user .user__link {
        color: salmon;
        font-size: 15px; }
      .id .id__row .id__primary .user input#submit {
        background: none;
        border: none;
        font-size: 15px;
        margin-left: -7px;
        margin-top: 7px;
        color: salmon;
        cursor: pointer; }
  .id .id__row .id__secondary {
    margin-top: 20px; }

@media (min-width: 1024px) {
  .id .id__img {
    width: 1021px; }
  .id .id__horizontal {
    border-top: 1px solid #8c8b8b;
    width: 1021px;
    margin-bottom: 30px; }
  .id .id__row {
    display: flex;
    flex-direction: row;
    width: 960px; }
    .id .id__row .id__primary {
      flex: 1;
      border-right: 1px solid #8c8b8b;
      border-bottom: 0px;
      height: 200px;
      padding-right: 20px;
      padding-top: 25px;
      font-size: 25px; }
    .id .id__row .id__secondary {
      flex: 2;
      padding-left: 20px;
      margin-top: 20px; } }

#nav .nav__item {
  margin: 4px 0; }

#nav .nav__item a {
  color: white; }

#nav .nav__item--user a {
  color: #ffa07a; }

@media (min-width: 500px) {
  #nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #nav .nav__item {
      margin: 0 15px;
      flex: 1; } }

@media (min-width: 1024px) {
  #nav {
    width: 30%;
    padding-top: 40px;
    margin-right: 35px; }
  a.nav__item:hover {
    color: blue; } }

@media (min-width: 1024px) {
  #logo {
    padding-top: 30px;
    margin-left: 100px; } }

.banner {
  color: #fff;
  background: #3acec2;
  padding: 5em 0;
  margin-bottom: 100px;
  text-align: center; }
  .banner .headline {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px; }

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form .textarea {
    font-size: 30px;
    border: 2px solid black;
    margin: 5px 0;
    width: 300px; }
  .form .textarea::placeholder {
    font-size: 20px; }
  .form input::placeholder {
    font-size: 20px; }
  .form .submit {
    margin-top: 20px;
    width: 100px;
    font-size: 20px; }

.form input {
  font-size: 30px;
  border: 2px solid black;
  margin: 10px 0;
  width: 300px; }

/* generic css */
.view {
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: pointer; }

.view .mask {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.view img {
  display: block;
  position: relative; }

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 30px;
  padding: 25px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 50px 0 0 0; }

/*1*/
.view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 300px;
  height: 200px; }

.view-first .mask {
  opacity: 0;
  background-color: rgba(144, 153, 162, 0.95);
  transition: all 0.4s ease-in-out; }

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out; }

/* */
.view-first:hover img {
  transform: scale(1.1); }

.view-first:hover .mask {
  opacity: 1; }

.view-first:hover h2 {
  opacity: 1;
  transform: translateY(0px); }

.project__container {
  margin: 50px 30px; }

.contact__image-item {
  width: 40px;
  height: 40px; }

#nav a {
  position: relative;
  display: inline-block;
  padding: .4em;
  margin: 0 auto auto; }
  #nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    visibility: hidden;
    transform: scaleX(0);
    background-color: #57bc90;
    transition: all .3s ease; }
  #nav a:hover::after {
    transform: scaleX(1);
    visibility: visible; }

#nav .portfolio #portfolio {
  color: #015249; }

#nav .about #about {
  color: #015249; }

#nav .contact #contact {
  color: #015249; }
