<div class="page-title">About Jay</div>
<hr/>
<div class="about-container">
  <div class="image-container">
    <img src="http://i.imgur.com/UDBUIha.jpg">
  </div>
  <div class="paragraph-container">
    <div class="p1">
      <p>Hello! I’m Jay. After working 5 years in the media and entertainment industry, I decided to take my career towards a different path. I flew 2500 miles away from home and spent over 800 hours of studying to become a web developer. I learned how to build applications, collaborate with team members, and to never give up no matter how challenging things get.</p>
    </div>
    <div class="p2">
      <p>When I’m not programming, you can find me making wacky videos of my friends or taking pictures of my two lovely dogs.</p>
    </div>
  </div>
</div>