<div class="page-title">About Jay</div>
<hr/>
<div class="about">
  <div class="about__image">
    <img class="about__image about__image-item" src="https://i.imgur.com/XzZN9cA.jpg">
  </div>
  <div class="about__paragraph about__paragraph-container">
    <div class="about__paragraph about__paragraph-p1">
      <p><span>Hi, I’m Jay!</span> I'm a fullstack Javascript developer who enjoys building web applications, learning about new technology, and collaborting with others to build something amazing.</p>
    </div>
    <div class="about__paragraph about__paragraph-p2">
      <p>I remember watching a YouTube video about the importance of coding, so I decided to do some reasearch and work through some tutorials on my own. I was instantly hooked! I took a couple of courses at a nearby college, then eventually made the leap to fully immerse myself in coding school. I learned how to build apps from scratch with vanilla Javascript, then moved onto building more substantial projects using AngularJS or React.</p>
    </div>
    <div class="about__paragraph about__paragraph-p3">
      <p>When I'm not programming, you can find me filming YouTube videos or hanging out with my two beautiful dogs.</p>
    </div>
  </div>
</div>