<div class="contact-title">Get in Touch</div>
<hr/>
<div class="contact-container">
  <div class="contact-subtitle">I'd love to hear from you!</div>
  <div class="contact-info-container">
    <div class="contact-email row">
      <div class="email-title title">
      EMAIL
      </div>
      <div class="email">
      jayhoun.dev@gmail.com
      </div>
    </div>
    <div class="contact-phone row">
      <div class="phone-title title">
      PHONE
      </div>
      <div class="phone">
      (626) 782-5473
      </div>
    </div>
    <div class="contact-otw row">
      <div class="otw-title title">
        ON THE WEB
      </div>
      <div class="otw">
          <a href="https://github.com/jhoun" target="_blank"><img src="http://i.imgur.com/yXISqvM.png"></a>
          <a href="https://www.linkedin.com/in/johnathanhoun/" target="_blank"><img src="http://i.imgur.com/w21yxT9.png"></a>
          <a href="https://medium.com/@jhoun" target="_blank"><img src="http://i.imgur.com/ycZTd2d.png"></a>
          <a href="https://twitter.com/jay_houn" target="_blank"><img src="http://i.imgur.com/56I1Uca.png"></a>
      </div>
    </div>
  </div>
</div>