<h1>Login</h1>

<form  method="POST" action="/login" enctype="x-www-form-urlencoded">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit">Login</button>
</form>

