// ==========================================================================
// Base Styles
// ==========================================================================

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  background: transparent;
  font-family: $font-family--primary;
  min-height: 100%; //sticky footer
  display: flex; //sticky footer
  flex-direction: column; //sticky footer
}

a {
  color: green;
}