// ==========================================================================
// Base Styles
// ==========================================================================

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  background: #f7f7f7;
  font-family: $font-family--primary;
  min-height: 100%; //sticky footer
  display: flex; //sticky footer
  flex-direction: column; //sticky footer
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: palette(grey, xx-light);
  height: 2px;
  margin-bottom: 50px;
}