#nav {

  a {
    position: relative;
    display: inline-block;
    padding: .4em;
    margin: 0 auto auto;

    &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    visibility: hidden;
    transform: scaleX(0);
    background-color: red;
    transition: all .3s ease;
    }

    &:hover {
      &::after {
      transform: scaleX(1);
      visibility: visible;
      }
    }
  }

  .portfolio #portfolio  {
    color: #6d7993;
  }

  .about #about {
    color: #6d7993;
  }

  .contact #contact {
    color: #6d7993;
  }
}

