#nav {

.nav__item:hover,
.nav__item:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(0.25em);
  border-color: var(--hover);
  color: #D72500;
}

.nav__item {
  color:  white;
  transition: 0.25s;
  background: none;
  border: 2px solid #b5c1cc;
  font: inherit;
  line-height: 1;
  padding: 15px;
}

  .nav__portfolio #portfolio  {
    color: #D72500;
    border: 2px solid #D72500;
  }

  .nav__about #about {
    color: #D72500;
    border: 2px solid #D72500;
  }

  .nav__contact #contact {
    color: #D72500;
    border: 2px solid #D72500;
  }
}
