.project__container {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;

  .project__img {
    height: 85%;
    width: 90%;
    display: block;
    margin: auto ;
  }

  .project__title {
    font-size: 2em;
    color: #404040;
    text-align: center;
  }
}

@media (min-width: 1024px){
  .project__container {

    .project__img {
      height: 300px;
      width: 400px;
      margin: 0;
    }
  }
}