#nav {
  .nav__item {
    margin: 4px 0;
  }

  .nav__item a {
    color: white;
  }

  .nav__item--user a {
    color: $salmon;
  }

}

@media (min-width: 500px){

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .nav__item {
    margin: 0 15px;
    flex: 1;
    }
  }
}

@media (min-width: 1024px){
  #nav {
    width: 30%;
    padding-top: 40px;
    margin-right: 35px;
  }

   a.nav__item:hover{
    color: blue;
  }
}
