<div class="page-title">Portfolio</div>
<hr>
<div class="project">
  {{#each project}}
      <div class="project__container">
        <a class="project__link" href="/portfolio/{{id}}">
          <img class="project__img" src="{{this.image}}">
        </a>
        <div class="project__title">{{this.title}}</div>
      </div>
  {{/each}}
</div>

