<div class="banner">
  <h1 class="headline"> I am a developer. I love building things, meeting people, and walking dogs. </h1>
</div>

<div class="project">
  {{#each project}}
      <div class="project__container">
        <a class="project__link" href="/portfolio/{{id}}">
          <img class="project__img" src="{{this.image}}">
        </a>
        <div class="project__title">{{this.title}}</div>
      </div>
  {{/each}}
</div>

