{{message}}
<form class="form" name="form" action="/portfolio" method="POST" enctype="x-www-form-urlencoded">
  <h1>NEW PROJECT</h1>
  <input type="text" name="title" placeholder="PROJECT TITLE">
  <textarea id="form" class="textarea" cols="20" rows ="5" name="description" placeholder="DESCRIPTION"></textarea>
  <input type="text" name="image" placeholder="IMAGE URL">
  <input type="text" name="link" placeholder="PROJECT URL">
  <input type="text" name="github" placeholder="GITHUB URL">
  <input class="submit" type="submit" value="Submit">
  <a href="/portfolio"><button>Back</button></a>
</form>